
fastapi 
uvicorn 
sqlalchemy 
passlib[bcrypt] 
python-jose 
pydantic 
email-validator
python-jose

dotenv
python-dotenv 
bcrypt==4.0.1 
passlib
psycopg2-binary
python-multipart
 
pytest
argon2-cffi
asyncpg
