matplotlib
# spacy==3.7.2
en-core-web-sm==3.7.1
numpy==1.24.4
fastapi 
uvicorn 
sqlalchemy 
pyodbc 
pandas==2.0.3
scikit-learn 
azure-ai-textanalytics 
python-dotenv 
pytest 
ruff 
opentelemetry-sdk 
opentelemetry-instrumentation-fastapi 
opentelemetry-exporter-otlp
